In [1]:
import requests 
from bs4 import BeautifulSoup
import webbrowser 
URL = "https://www.insiderscreener.com/en/explore/au" 
# webbrowser.open(URL)
html = requests.get(URL) 
soup = BeautifulSoup(html.text, 'html.parser')

In [2]:
# soup.find('table', class_ ="table table-sm text-dark")

In [3]:
# soup.find_all('th')

In [6]:
table = soup.select_one("div.table-responsive-md table")

In [7]:
rows_title= [th.text.strip() for th in table.select("thead th")]

In [8]:
import pandas as pd

In [9]:
df=pd.DataFrame(columns= rows_title)
df

Empty DataFrame
Columns: [Notification date, Transaction date, Company, B/S
Transaction type, Insider and/or position, Nb. shares
Price
Value, Number of shares, Price, Value, Details]
Index: []

In [10]:
column_data=table.find_all('tr')

In [11]:
for row in column_data[1:]:
    row_data=row.find_all('td')
    ind=[data.text.strip() for data in row_data]
    length=len(df)
    df.loc[length]=ind

In [12]:
df

,Notification date,Transaction date,Company,B/S\nTransaction type,Insider and/or position,Nb. shares\nPrice\nValue,Number of shares,Price,Value,Details
0,2024-02-01,2024-02-01,Advance ZincTek Ltd\n(ANO),B\nPurchase,LEV MIZIKOVSKY\n\nDirector,"10,000\n\n1.05\n\n\nAUD 6,892","10,000",1.05,"AUD 10,500",
1,2024-01-31,2024-01-31,LIONTOWN RESOURCES LIMITED\n(LTR),S\nSale,Tony Ottaviano\n\nDirector,"1,278,783\n\n0.58\n\n\nAUD 487,820","1,278,783",0.58,"AUD 739,009",
2,2024-01-31,2024-01-31,Apollo Minerals Ltd\n(AON),B\nPurchase,Paul Roberts\n\nDirector,"800,000\n\n0.03\n\n\nAUD 13,202","800,000",0.03,"AUD 20,000",
3,2024-01-31,2024-01-31,Advance ZincTek Ltd\n(ANO),B\nPurchase,LEV MIZIKOVSKY\n\nDirector,"573,329\n\n1.05\n\n\nAUD 397,377","573,329",1.05,"AUD 601,995",
4,2024-01-30,2024-01-30,LUNNON METALS LIMITED\n(LM8),B\nPurchase,Edmund Ainscough\n\nDirector,"250,000\n\n0.30\n\n\nAUD 50,105","250,000",0.30,"AUD 75,802",
...,...,...,...,...,...,...,...,...,...,...
70,2024-01-24,2024-01-18,ENERGY RESOURCES OF AUSTRALIA LIMITED\n(ERA),PP\nPlanned purchase,Rosemary Fagen\n\nDirector,17\n\n14.86\n\n\nAUD 166,17,14.86,AUD 253,
71,2024-01-24,2024-01-18,ENERGY RESOURCES OF AUSTRALIA LIMITED\n(ERA),B\nPurchase,Justin Carey\n\nDirector,23\n\n10.99\n\n\nAUD 166,23,10.99,AUD 253,
72,2024-01-24,2024-01-18,ENERGY RESOURCES OF AUSTRALIA LIMITED\n(ERA),B\nPurchase,Brad Welsh\n\nDirector,39\n\n6.48\n\n\nAUD 166,39,6.48,AUD 253,
73,2024-01-24,2024-01-18,ENERGY RESOURCES OF AUSTRALIA LIMITED\n(ERA),B\nPurchase,Alfred Grigg\n\nDirector,17\n\n14.86\n\n\nAUD 166,17,14.86,AUD 253,
74,2024-01-23,2024-01-18,WOTSO PROPERTY\n(WOT),B\nPurchase,JR (Seph) Glew\n\nDirector,"25,000\n\n1.17\n\n\nAUD 19,230","25,000",1.17,"AUD 29,350",

In [13]:
df.to_json('file1.json', orient = 'split', compression = 'infer')

In [14]:
df = pd.read_json('file1.json', orient ='split', compression = 'infer')
df

,Notification date,Transaction date,Company,B/S\nTransaction type,Insider and/or position,Nb. shares\nPrice\nValue,Number of shares,Price,Value,Details
0,2024-02-01,2024-02-01,Advance ZincTek Ltd\n(ANO),B\nPurchase,LEV MIZIKOVSKY\n\nDirector,"10,000\n\n1.05\n\n\nAUD 6,892","10,000",1.05,"AUD 10,500",
1,2024-01-31,2024-01-31,LIONTOWN RESOURCES LIMITED\n(LTR),S\nSale,Tony Ottaviano\n\nDirector,"1,278,783\n\n0.58\n\n\nAUD 487,820","1,278,783",0.58,"AUD 739,009",
2,2024-01-31,2024-01-31,Apollo Minerals Ltd\n(AON),B\nPurchase,Paul Roberts\n\nDirector,"800,000\n\n0.03\n\n\nAUD 13,202","800,000",0.03,"AUD 20,000",
3,2024-01-31,2024-01-31,Advance ZincTek Ltd\n(ANO),B\nPurchase,LEV MIZIKOVSKY\n\nDirector,"573,329\n\n1.05\n\n\nAUD 397,377","573,329",1.05,"AUD 601,995",
4,2024-01-30,2024-01-30,LUNNON METALS LIMITED\n(LM8),B\nPurchase,Edmund Ainscough\n\nDirector,"250,000\n\n0.30\n\n\nAUD 50,105","250,000",0.30,"AUD 75,802",
...,...,...,...,...,...,...,...,...,...,...
70,2024-01-24,2024-01-18,ENERGY RESOURCES OF AUSTRALIA LIMITED\n(ERA),PP\nPlanned purchase,Rosemary Fagen\n\nDirector,17\n\n14.86\n\n\nAUD 166,17,14.86,AUD 253,
71,2024-01-24,2024-01-18,ENERGY RESOURCES OF AUSTRALIA LIMITED\n(ERA),B\nPurchase,Justin Carey\n\nDirector,23\n\n10.99\n\n\nAUD 166,23,10.99,AUD 253,
72,2024-01-24,2024-01-18,ENERGY RESOURCES OF AUSTRALIA LIMITED\n(ERA),B\nPurchase,Brad Welsh\n\nDirector,39\n\n6.48\n\n\nAUD 166,39,6.48,AUD 253,
73,2024-01-24,2024-01-18,ENERGY RESOURCES OF AUSTRALIA LIMITED\n(ERA),B\nPurchase,Alfred Grigg\n\nDirector,17\n\n14.86\n\n\nAUD 166,17,14.86,AUD 253,
74,2024-01-23,2024-01-18,WOTSO PROPERTY\n(WOT),B\nPurchase,JR (Seph) Glew\n\nDirector,"25,000\n\n1.17\n\n\nAUD 19,230","25,000",1.17,"AUD 29,350",

In [15]:
gfg_csv_data = df.to_csv('GfG.csv', index = True) 
print('\nCSV String:\n', gfg_csv_data)

CSV String:
 None